.first-page{
    width: 100vw;
    display: flex;
}

.pinkRectBottom{
    position: absolute;
    left: 20vw;
    height: 45vh;
    z-index: -1;
    filter: blur(4px);
}

.blueRectSide{
    position: absolute;
    right: 3vw;
    bottom: -80vh;
    width: 40vh;
    z-index: -1;
    animation: blueRectRotate 15s linear infinite;
    filter: blur(4px);
}

@keyframes blueRectRotate {
    0%{
        transform: rotate(-5deg);
        right: 3vw;
        width: 40vh;
    }
    50%{
        transform: rotate(5deg);
        right: 0vw;
        width: 46vh;
    }
    100%{
        transform: rotate(-5deg);
        right: 3vw;
        width: 40vh;
    }
}

.first-page .project{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s ease;
    width: 50%;
}

.first-page .project-right{
    background-color: rgba(0, 0, 0, 0.03);
}

.first-page .project-left{
    background-color: rgba(0, 0, 0, 0.02);
}

.first-page .project:hover{
    background-color: rgba(255, 255, 255, 0.5);
    cursor: url(../assets/cursor2.png), default;
    width: 200%;
}

.first-page .project h2{
    font-weight: 600;
    font-size: 1.8em;
}

.first-page .project:hover > h2{
    display: none;
}

.first-page .project .project-content{
    display: none;
}

.first-page .project:hover > .project-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    animation: appearanceText 2s ease;
    font-size: 15px;
    width: 100%;
}

@keyframes appearanceText{
    0%{
        opacity: 0;
        font-size: 0px;
    }
    40%{
        font-size: 15px;
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.first-page .project .project-content img{
transition: 0.4s ease;
}

.first-page .project-left .project-content img{
    width: 40%;
    box-shadow: rgba(50, 50, 93, 0.5) 0px 6px 12px -2px, rgba(0, 0, 0, 0.6) 0px 3px 7px -3px;
}

.first-page .project-right .project-content img{
    width: 20%;
}

.first-page .project .project-content img:hover{
    cursor: url(../assets/cursorZoomed.png), default;
    transform: scale(1.1);
}

.first-page .project .project-content .project-informations{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 40%;
    font-size: 1.2em;
    word-spacing: 5;
    line-height: 2em;
}

.first-page .project-right .project-content .project-informations div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.first-page .project-right .project-content .project-informations div img{
    flex-grow: 1;
}

.project-name{
    font-weight: 700;
}

.important-word{
    text-decoration: underline;
}