body, h1, h2{
    margin: 0;
    cursor: none;
    overflow-x: hidden;
}

.cursor {
    position: absolute;
    border: solid 1px #ccc;
    width: 60px; 
    height: 60px; 
    border-radius: 50%;  
    z-index: 5;
}

main{
    width: 100vw;
}

footer{
    text-align: center;
}